extends layout

block content
    form(method='POST')
        label(for='name') Name:
        input(type='select' placeholder='Name' name='category' required='true')
        label(for='description') Description:
        input(type='select' placeholder='Description' name='category' required='true')
