extends layout

block content
    ul
      each category in categoryList
          div
              h5
              a(href=category.url) #{category.name}
      else
          li No categories available