doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    nav 
      h2 
        a(href="/products") Products
      h2 
        a(href="/categories") Categories
    block content
    